* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border:none; */
    /* outline:none; */
    scroll-behavior: smooth;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: rgb(34, 215, 34);

    /* --bg-color:#0d1321;
    --second-bg-color:#1d2d44;
    --text-color:#ededed;
    --main-color:#a9bcd0; */
}

html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 2rem 9%;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3.5rem;
    font-weight: 500;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9%;
    /* justify-content:space-evenly; */
    /* background: url(image.jpeg) no-repeat; */
    /* background-size: cover;
    background-position:center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:5rem; */
}

.home-img img {
    height: 31vw;
    border-radius: 50%;
    border-top: .2rem solid var(--main-color);
    border-right: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--main-color);
    border-left: .2rem solid var(--second-bg-color);
}

.home-content {
    max-width: 60rem;
    /* background-color: red; */
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content span {
    color: rgb(171, 255, 171);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn {
    position: relative;
    /* display: inline-block; */
    background-color: var(--main-color);
    padding: 1rem 2rem;
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn:hover::before {
    width: 100%;
}

.btn a {
    color: var(--bg-color);
}

.btn:hover a {
    color: var(--main-color);
}

.home-social {
    position: absolute;
    width: 170px;
    bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.home-social a {
    position: relative;
    width: 40px;
    height: 40px;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-social a:hover::before {
    width: 100%;
}

.home-social a:hover {
    color: var(--bg-color);
}

/* .home-imghover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imghover:hover{
    background-color: var(--bg-color);
    opacity: .8;
} */

.about {
    /* min-height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--second-bg-color);
    padding-bottom: 4rem;
    /* padding-top: 1rem; */
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.heading span {
    color: var(--main-color);
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    width: 100%;
    height: 100%;
    animation: aboutSpinner 8s linear infinite ;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    /* text-align: left; */
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
    /* background-color:red; */
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
}


.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    /* height:15rem; */
}

.education-content .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: green;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background-color: var(--second-bg-color);
}

.skills-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-column {
    flex: 1 1 40rem;
    /* background-color: red; */
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    overflow: hidden;
    z-index: 1;
}

.skills-box .skills-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.progress .bar {
    height: 2.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem;
    margin: 1rem 0;
}

.bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background-color: var(--main-color);
}

.skills-column:nth-child(1) .progress:nth-child(1) .bar span {
    width: 90%;
}

.skills-column:nth-child(1) .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .progress:nth-child(3) .bar span {
    width: 55%;
}

.skills-column:nth-child(1) .progress:nth-child(4) .bar span {
    width: 65%;
}


.skills-column:nth-child(2) .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .progress:nth-child(2) .bar span {
    width: 50%;
}

.skills-column:nth-child(2) .progress:nth-child(3) .bar span {
    width: 65%;
}

.skills-column:nth-child(2) .progress:nth-child(4) .bar span {
    width: 90%;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;
    /* background-color: red; */
}

.contact form .input-box {
    /* background-color: black; */
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field {
    /* background-color: yellow; */
    position: relative;
    width: 49%;
    margin: .8rem 0;

}

.input-field input,
.textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.input-field input::placeholder,
.textarea-field textarea::placeholder {
    color: var(--text-color);
}

.textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    /* display: flex; */
}

.btn {
    cursor: pointer;
}

.input-field::before,
.textarea-field::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: .6rem;
    transition: .5s;
    z-index: -1;
}

.input-field:hover::before,
.textarea-field:hover::before {
    width: 100%;
}

.btn[type='submit']:hover{
    color:var(--main-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}


@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:991px) {
    .header {
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }
    .footer{
        padding:2rem 4% ;
    }
    /*
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    } */
}

@media(max-width:768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background-color: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    /*.home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }*/

    .home-img img{
        height:40vw;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media(max-width:487px){
    html{
        font-size: 50%;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    .home-social{
        width:160px;
    }

    .home-social a{
        width:38px;
        height:38px;
    }

    .input-box .input-field{
        width:100%;
    }
}

@media(max-width:371px) {
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
    }

    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }
}


@keyframes aboutSpinner {
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    
}